@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

.nav-item-dropdown {
    background: rgb(20, 22, 22);
}
.display-4, .display {
    font-weight: bold;
    /* font-size: 26px; */
   
}

.card-body-icon{
    position: absolute;
    z-index: 0;
    top: 25px;
    right: 4px;
    opacity: 0.4;
    font-size: 90px;
    /* border-width: 3px;
    border-style: solid;
    border-color: #40E0D0; */
    /* box-shadow: 5px 5px 10px blue;
    border-radius: 15px; */
}
